#-----------------------
# directories
#-----------------------
PHP-Parser/*
tests/obfuscated/*
old/*
temp/*
!temp/.gitkeep
nbproject
vendor
#-----------------------
# files
#-----------------------
run_tests.php